In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps
import json
from api_keys import g_key
gmaps.configure(api_key=g_key)

In [2]:
# read the cities.csv to create dataframe, previous cells are not needed to be executed as long as cities.csv was created
cities = pd.read_csv("output_data/weather_data.csv", encoding="utf-8")
cities.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Country
0,0,Ixtapa,20.70,-105.20,80.29,83,90,8.05,1599964578,MX
1,1,Synya,65.37,58.04,42.03,93,100,9.37,1599964579,RU
2,2,Albany,42.60,-73.97,57.22,99,0,8.21,1599964375,US
3,3,Jamestown,42.10,-79.24,64.35,88,90,12.75,1599964579,US
4,4,Clyde River,70.47,-68.59,33.80,83,90,4.70,1599964580,CA

In [4]:
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Latitude", "Longitude"]]

In [9]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
narrowed_city_df = cities.loc[(cities["Max Temp"] > 70) & (cities["Max Temp"] < 80) & (cities["Cloudiness"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Country
0,8,Mabaruma,8.20,-59.78,77.34,89,0,3.47,1599964581,GY
1,45,Acaraú,-2.89,-40.12,77.54,82,0,18.05,1599964594,BR
2,51,Geraldton,-28.77,114.60,71.60,43,0,17.22,1599964596,AU
3,65,Carnarvon,-24.87,113.63,78.80,29,0,17.22,1599964601,AU
4,115,Aksu,41.12,80.26,71.15,38,0,3.47,1599964620,CN

In [13]:
hotellist = []

for i in range(len(narrowed_city_df)):
    Latitude = narrowed_city_df.loc[i]['Latitude']
    Longitude = narrowed_city_df.loc[i]['Longitude']

    params = {
        "location": f"{Latitude},{Longitude}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
narrowed_city_df["Hotel Name"] = hotellist
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Country,Hotel Name
0,8,Mabaruma,8.20,-59.78,77.34,89,0,3.47,1599964581,GY,Mabaruma
1,45,Acaraú,-2.89,-40.12,77.54,82,0,18.05,1599964594,BR,Acaraú
2,51,Geraldton,-28.77,114.60,71.60,43,0,17.22,1599964596,AU,Geraldton
3,65,Carnarvon,-24.87,113.63,78.80,29,0,17.22,1599964601,AU,Carnarvon
4,115,Aksu,41.12,80.26,71.15,38,0,3.47,1599964620,CN,Aksu Prefecture

In [14]:
fig = gmaps.figure(center=(48.0, 0.0, zoom_level=2)
                   
#add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidy_rate, disspating=False, max_intensity=100, point_radius = 1, opacity=1)


# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations2, hvoer_text='', label='', info_box_content = hotel_info)

#add layer
fig.add_layer(markers)
fig.add_layer(heat_layer)

# Display figure
plt.savefig("../Images/Vacation_Hotel_Map.png")
fig

SyntaxError: invalid syntax (<ipython-input-14-33fdfedab42e>, line 1)